<%- include('partials/menu') %>
<%- include('partials/header') %>
<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f7f7f7;
        position: relative;
        margin: 0px;
        font-size: 12px;
        padding: 0px;

        background-image: url(images/background3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="aboutstyle.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One|Raleway:400,300,500italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
<div style="background-color : #FFFFFF;  margin:10px 10px 10px 10px;">
    <form>
        <h2 align="center">About</h2>
        <hr>
        <section id="banner" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="banner-text">We Create Secure IoT environment!</h1>
                        <hr class="top-divider">
                        <p class="banner-par">A Project to make an innovative effort for securing IoT environment and it's management<br>San Jose State University.</p>

                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="section-padding">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="section-head">
                            <h2 class="head-title">Welcome To IoT Security and Management</h2>
                            <p class="head-par">New concept which introduces gateway, Merkel tree hashing, ECC certificate combined for providing security for a IoT environment.</p>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wrap-item">
                            <div class="item-img">
                                <img src="images/ser01.png">
                            </div>
                            <h3 class="pad-bt15">Gateway</h3>
                            <p>The gateway solution provides some abstraction and a single point where all the devices in the network can be controlled or monitored. Any application running on the gateway would be used to keep a track of all the devices in the network. Authorization, encryption and scalability are the three major problems that a secured gateway solves. Unauthorized access is forbidden if the devices are not registered with the gateway. Gateway has control over all the devices and their behavior.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wrap-item">
                            <div class="item-img">
                                <img src="images/ser02.png">
                            </div>
                            <h3 class="pad-bt15">Hash based scheme</h3>
                            <p>This project proposes a novel way to utilize current hashing techniques to provide a level of security that is computationally inexpensive for the low-power devices. Typically, hashes, message digests or checksums are used in network security to verify the integrity of the payload. Depending upon the protocol, the packet is either re-sent or dropped if this verification fails. The idea proposed uses a similar strategy in a very different way and works on top of existing message protocols. This new scheme aims to provide security to devices in a network rather than the network itself. The network is assumed to be secured using key based encryption and the focus is to defend against device tampering. The proposal does not restrict device access and hence other strategies might be required to prevent snooping.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wrap-item">
                            <div class="item-img">
                                <img src="images/ser04.png">
                            </div>
                            <h3 class="pad-bt15">Network Security</h3>
                            <p>Generating Certificates using RSA and ECC.<br>We first create our own CA certificate authority. Server and client certificates will be signed by CA. OpenSSL is used to create the certificates. Below are the steps for creating CA, server keys, server certificates, client keys and client certificates.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wrap-item">
                            <div class="item-img">
                                <img src="images/ser03.png">
                            </div>
                            <h3 class="pad-bt15">Web Application</h3>
                            <p>Web application provides management console for the system. The functioning of this application is to allow user to create his/her profile, login so that he/ she would be able to manage all the devices in his/ her infrastructure. Management of the device includes, adding new device, removing device, updating device details. Moreover, once the device is added, User will be able to monitor all his/ her devices in the web application and will be able to see the changing data from the device in real-time. Also, the hacked devices can be managed from this application.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="section-title">Abstract</h3>

                        <p>
                            With the advent of Internet of Things (IoT), there has been substantial increase in data and infrastructure exposure. This has raised many security concerns prompting the industry to venture into IoT security. Current standards lack the required sophistication resulting in security breaches in devices that control cars, nuclear reactors, and pacemaker’s etc. causing potential capital loss. A robust security approach that protects sensitive information and intellectual property from cyber-attacks is required. Moreover, incorporating current highly computational algorithms in small and low-powered devices is a challenge that needs to be addressed. A strong but lightweight security solution needs to be embedded into the entire lifecycle of the IoT infrastructure. The proposed infrastructure intends to protect the IoT infrastructure against vulnerabilities like Man in the Middle Attack, device tampering and unauthorized network access. A novel and scalable framework that combines gateways and hash tree based verification achieves prevention of these attacks is proposed. This application builds around building a fast and light hash tree, gateways, securing the communication using lightweight protocols and protecting infrastructure if a particular device is compromised by verification in O (log n) time complexity which is followed by remediation.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="service-img">
                            <img src="images/about01.jpg" class="img-responsive" style="width: 555px; height: 365px;">
                        </div>
                    </div>
                </div>
            </div>
</div>
</section>


<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <h2 class="head-title white">Our team</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <ul class="bxslider">
                    <li>
                        <div class="test-content">
                            <img src="images/thumb2.jpg" alt="">
                            <p><span>Apurva Pawar  / </span> The lead force</p>
                            So far I have worked with Raspberry-pi, sensors, architectures, building blocks and pretty much everything.
                        </div>
                    </li>
                    <li>
                        <div class="test-content">
                            <img src="images/thumb3.jpg" alt="">
                            <p><span>Neeraj Kumbhar / </span> Security expert</p>
                            I am security and networking guy. Ask me about ECC, RSA, ACL and possible attacks on IoT and its defenses.
                        </div>
                    </li>
                    <li>
                        <div class="test-content">
                            <img src="images/thumb1.jpg" alt="">
                            <p><span>Komal Vohra / </span> Gateway girl</p>
                            I took a responsibility to build the gateway, the main solution around which our security solution is built. I took a deep dive into researching about existing security solutions.
                        </div>
                    </li>
                    <li>
                        <div class="test-content">
                            <img src="images/thumb4.jpg" alt="">
                            <p><span>Vaidehi Deo / </span> Web Application on me</p>
                            I helped in making what is happening in the background visible on the front.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    </form>
    <div class="form-container">

<%- include('partials/footer') %>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    /*! Main */
    jQuery(document).ready(function($) {

        // Fixa navbar ao ultrapassa-lo
        var navbar = $('#navbar-main'),
                distance = navbar.offset().top,
                $window = $(window);

        $window.scroll(function() {
            if ($window.scrollTop() >= distance) {
                navbar.removeClass('navbar-fixed-top').addClass('navbar-fixed-top');
                $("body").css("padding-top", "70px");
            } else {
                navbar.removeClass('navbar-fixed-top');
                $("body").css("padding-top", "0px");
            }
        });
    });
</script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- bxSlider Javascript file -->
        <script src="js/jquery.bxslider.min.js"></script>
        <script>


            $(document).ready(function(){
                $('.bxslider').bxSlider();
            });

        </script>
