﻿<%- include('partials/menu') %>
<%- include('partials/header') %>
<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f7f7f7;
        position: relative;
        margin: 0px;
        font-size: 12px;
        padding: 0px;

        background-image: url(images/background3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
</style>
<div class="form-container">
    <h2 align="center">Login</h2>
    <hr>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <input type="text" name="userId" id="userId" placeholder="User Name" value="<%= locals.username || '' %>" class="form-control input-lg" />
            <input type="password" name="password" placeholder="Password" id="password" class="form-control input-lg" />
        </div>
        <div class="form-group" align="center">
            <button type="submit" id="loginButton" class="form-control btn btn-primary btn-lg">Login</button>
        </div>
        <hr>
        <div class="form-group" align="center">
            Don't have account ? <a href="/register" id="registerButton" class=" form-control btn btn-link">Register</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>

<!--Script for static nav bar-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    /*! Main */
    jQuery(document).ready(function($) {

        // Fixa navbar ao ultrapassa-lo
        var navbar = $('#navbar-main'),
                distance = navbar.offset().top,
                $window = $(window);

        $window.scroll(function() {
            if ($window.scrollTop() >= distance) {
                navbar.removeClass('navbar-fixed-top').addClass('navbar-fixed-top');
                $("body").css("padding-top", "70px");
            } else {
                navbar.removeClass('navbar-fixed-top');
                $("body").css("padding-top", "0px");
            }
        });
    });
</script>