﻿<%- include('partials/menu') %>
<%- include('partials/header') %>
<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f7f7f7;
        position: relative;
        margin: 0px;
        font-size: 12px;
        padding: 0px;

        background-image: url(images/background3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
    }
</style>
<div style="background-color : #FFFFFF;  margin:10px 10px 10px 10px;">
<div class="form-container">
    <h2 align="center">Register</h2>
    <hr>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="firstName" id="name" class="form-control input-lg" value="<%= locals.name || '' %>" required />
        </div>
        <div class="form-group">
            <label for="userId">User ID</label>
            <input type="text" name="userId" id="userId" class="form-control input-lg" value="<%= locals.userId || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control input-lg" required />
        </div>
        <div class="form-group">
            <div class="register-switch">
                <input type="radio" name="sex" value="F" id="sex_f" class="register-switch-input" checked>
                <label for="sex_f" class="register-switch-label">Female</label>
                <input type="radio" name="sex" value="M" id="sex_m" class="register-switch-input">
                <label for="sex_m" class="register-switch-label">Male</label>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" class="form-control input-lg" required />
        </div>
        <hr>
        <div class="form-group" align="center">
            <button type="submit" class="form-control btn btn-primary btn-lg">Register</button>
        </div>
        <div class="form-group" align="center">
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
</div>
<%- include('partials/footer') %>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    /*! Main */
    jQuery(document).ready(function($) {

        // Fixa navbar ao ultrapassa-lo
        var navbar = $('#navbar-main'),
                distance = navbar.offset().top,
                $window = $(window);

        $window.scroll(function() {
            if ($window.scrollTop() >= distance) {
                navbar.removeClass('navbar-fixed-top').addClass('navbar-fixed-top');
                $("body").css("padding-top", "70px");
            } else {
                navbar.removeClass('navbar-fixed-top');
                $("body").css("padding-top", "0px");
            }
        });
    });
</script>