<h1>My Account</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ng-model="vm.user.userId" required readonly/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />

        </div>
        <div class="form-group">
            <label for="firstName">Age</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.age" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <!--<button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>-->
        </div>
    </form>
</div>