<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Device Registration</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ID">Device ID</label>
                        <input type="text" class="form-control" id="deviceid" placeholder="Enter Device ID" ng-model="device.id"/>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="devicename" placeholder="Device Name" ng-model="device.name"/>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="form-actions">
                        <button type="button" class="btn btn-primary" ng-click="addDevice()">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>