<h1>Device Management</h1>
<hr>
<div class="container">
    <button type="button" class="btn btn-success btn-large" ng-click="displayModal()">Add a new Device</button>
</div>

<hr>
<div id="panelHead" class="header" style="font-size:180%"><span ng-bind="name"></span></div>
        <div id="panel" class="panel panel-default col-lg-12" ng-hide = "showme">
            <div class="panel-body col-md-12" id="container">
                <div id="4321t" style="height: 300px; margin: 0  ; float:left;" class="col-md-4">
                </div>

                <div id="4321h" style="height: 300px; margin: 0  ;float:right;" class="col-md-4-offset-1">
                </div>
            </div>
            <hr>
        </div>

        <h2>List of Devices</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Status</th>
            <th>Device ID</th>
            <th>Device Name</th>
            <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in devices" id="tr{{item.device_id}}">
            <td><button id ="btn{{item.device_id}}" ng-click="detachDevice(item.device_id)" data-toggle="tooltip" data-placement="bottom" title="Safe!" class="btn btn-sm btn-success btn-circle"><i id="i{{item.device_id}}" class="fa fa-check"></i></button></td>
            <td><a href="" ng-click="showTemp(item);showHumid(item);" id="showDevice{{item.device_id}}" data-toggle="tooltip" data-placement="bottom" title="Click to see data" class="form-control btn btn-link" style="text-align: left">{{item.device_id}}</a></td>
            <td id="device{{item.device_id}}">{{item.device_name}}</td>
            <td><a href="" id="remove{{item.device_id}}" ng-click="removeDevice(item)" data-toggle="tooltip" data-placement="bottom" title="Remove device" class="form-control btn btn-link" style="text-align: left">Remove</a></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <hr>
    <div>
        <button class="btn btn-sm btn-success btn-circle"><i class="fa fa-check"></i></button> <font size="1">Device is in safe state. Click on device name to check device readings.</font>
        <br><button class="btn btn-sm btn-warning btn-circle"><i class="fa fa-undo"></i></button> <font size="1" style="background-color: silver">Device is hacked and disabled. Click to enable the device again. Device data can not be seen. Device can not be removed.</font>
        <br><button class="btn btn-sm btn-danger btn-circle"><i class="fa fa-close"></i></button> <font size="1" style="background-color: #F75D59"> Device hacked and enabled. Click to disable the device. The data shown can be incorrect.</font>
    </div>


</div>

