body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;


    /* Location of the image */
    background-image: url(app/images/background2.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.mainBackground{
	background-image: url("../images/background.jpg");
	background-repeat:  no-repeat;
	background-size: 100% 100%;
}

.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 60px;
}

.red {
    background-color: red;
}

/*//Changed the header back ground color to white*/
.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0px, #ffffff 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

/*logo padding*/
.navbar-header {
    float: left;
    margin-left:50px;
}

/*header menu items font changes */
.navbar-nav {
    float: left;
    font-size: 14px;
}

/* Logo & Navigation */

.header{
   height:30px;

}


/* Sidebar navigation */

.content-box, .content-box-large {
  min-height: 85vh;
   /*height: 85%;*/
   margin-bottom:30px;
   background:#fff;
   border-radius:10px;
   padding:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:2px solid #eee;
   border-bottom:2px solid #eee;
}

.content-box-large {
  margin: 10 10;
  padding: 25px;
}

/*  Account grid css */
.grid-head{
	font-size: 20px;
	font-weight: bold;
	padding: 0px 15px 10px 15px;
	float: left;
}

.account-detail{
	color: #33CCFF;
}

.require-field{
	color: #FF0000;
}

.selected-header{
  font-weight: bold;
	color: #33CCFF;
}

.unselected-header{
  font-weight: bold;
  color: #012169;
}

.panel-heading>.panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-body{
	margin-top: 30px;
}

#collapsedPanel .panel-body{
  margin-top: 0px;
}

#myModal .modal-body
{
  max-height: 70vh;
  overflow:auto;
  margin: 0px 15px 0px 15px;
}

#myModal .modal-header {
    min-height: 16.4286px;
    padding: 15px;
    border-bottom: 1px solid #000000;
    height: 50px;
    background-color: #B0B0B0;
    color: #000000;
}

#dialogModal .modal-body
{
  min-height: 8vh;
  max-height: 60vh;
  overflow:auto;
  margin: 0px 15px 0px 15px;
}

#dialogModal .modal-header {
    min-height: 16.4286px;
    padding: 15px;
    border-bottom: 1px solid #000000;
    height: 50px;
    background-color: #787878;
    color: #ffffff;
}

.bank-details-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.bank-details-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.btn-circle, .btn-circle-3d{
    border-radius: 50% !important;
}

.btn-success.btn-circle{
    -webkit-box-shadow: 0px 0px 3px 1px #3e8f3e;
    -moz-box-shadow:    0px 0px 3px 1px #3e8f3e;
    box-shadow:         0px 0px 3px 1px #3e8f3e;
}

.btn-danger.btn-circle{
    -webkit-box-shadow: 0px 0px 3px 1px #b92c28;
    -moz-box-shadow:    0px 0px 3px 1px #b92c28;
    box-shadow:         0px 0px 3px 1px #b92c28;
}

.disabled {
    cursor: not-allowed;
}


