<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to Secured IoT Management Application</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app/styles/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app/app-content/app.css" rel="stylesheet" />
</head>
<body class="container">
    <header>
        <nav id="navbar-main" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">Device management</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>
                        <li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Profile</a></li>
                        <li><a href="/login" id="logoutButton" target="_self">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>
    </header>
 
    <!-- main -->
    <main ui-view></main>
 
    <!-- footer -->
    <footer></footer>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        /*! Main */
        jQuery(document).ready(function($) {

            // Fixa navbar ao ultrapassa-lo
            var navbar = $('#navbar-main'),
                    distance = navbar.offset().top,
                    $window = $(window);

            $window.scroll(function() {
                if ($window.scrollTop() >= distance) {
                    navbar.removeClass('navbar-fixed-top').addClass('navbar-fixed-top');
                    $("body").css("padding-top", "70px");
                } else {
                    navbar.removeClass('navbar-fixed-top');
                    $("body").css("padding-top", "0px");
                }
            });
        });

        $(function(){
            $('.clickable').on('click',function(){
                var effect = $(this).data('effect');
                $(this).closest('.panel')[effect]();
            })
        })
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
 
    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
 
    <!-- application scripts -->
    <script src="app/scripts/app.js"></script>
    <script src="app/app-services/user.service.js"></script>
    <script src="app/app-services/deviceService.js"></script>
    <script src="app/app-services/flash.service.js"></script>
    <script src="app/scripts/controllers/homeController.js"></script>
    <script src="app/scripts/controllers/accountController.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="js/vendor/highcharts-ng/dist/highcharts-ng.js"></script>

    <script src="app/scripts/browserMqtt.js"></script>

</body>
</html>
