﻿    <div class="credits text-center">
        <p>
            IoT Security and Management
        </p>
        <p>
            <a href="http://www.sjsu.edu/m">San Jose State University</a>
        </p>
    </div>
</body>
</html>